html, body {
	font-size: 16pt;
	margin:0;
	padding: 0;

	height:100%;

	overflow:hidden;

}

body {
	background: url(../img/background.png) repeat scroll left top;
}

#top {
	background-color: lightgrey;
	margin:0;
	overflow: hidden;
	min-height: 127px;
}

#targetnumber {
	border-width: 4px;
	border-style: ridge;
	border-color: cyan;

	width: 3em;
	//min-height: 1em;
	text-align: center;
	margin:8px auto;

	background-color: blue;
	color: white;

	display: table;
}

#numbers-table {
	text-align: center;
	margin: 8px auto;
}

.number-col {
	width: 3ch;
	height: 3ch;
	border-color: cyan;
	border-style: ridge;
	color: white;
	background: blue;
}

.number-col:empty {
	background-color: cyan;
}

#solvingarea {
	//height: 100%;
	//width: 100%;
}

#clear-drawing-area-button {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
}

#countdown-display {
	text-align: left;
	display: inline-block;
	cursor: pointer;
}

#countdown-display.finished {
	color: #bf0000;
	font-weight: bold;
}

#countdown-display-holder {
	text-align: right;
}
